{% extends "/components/base_user.html" %}
{% block title %}Edit Client Persoana Fizică{% endblock %}
{% block content %}
<div class="container">
    <h2 class="my-4">Edit Client Persoana Fizică</h2>
    <form method="POST">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="nume" class="form-label">Nume</label>
                <input type="text" class="form-control" id="nume" name="nume" value="{{ client.nume }}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="prenume" class="form-label">Prenume</label>
                <input type="text" class="form-control" id="prenume" name="prenume" value="{{ client.prenume }}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="telefon" class="form-label">Numar Telefon</label>
                <input type="text" class="form-control" id="telefon" name="telefon" value="{{ client.telefon }}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="CNP" class="form-label">Cod Numeric Personal</label>
                <input type="text" class="form-control" id="CNP" name="CNP" value="{{ client.CNP }}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="judet" class="form-label">Județ</label>
                <input type="text" class="form-control" id="judet" name="judet" value="{{ client.judet }}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="oras" class="form-label">Localitate</label>
                <input type="text" class="form-control" id="oras" name="oras" value="{{ client.oras }}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="strada" class="form-label">Stradă</label>
                <input type="text" class="form-control" id="strada" name="strada" value="{{ client.strada }}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="numar" class="form-label">Număr</label>
                <input type="text" class="form-control" id="numar" name="numar" value="{{ client.numar }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="bloc" class="form-label">Bloc</label>
                <input type="text" class="form-control" id="bloc" name="bloc" value="{{ client.bloc }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="scara" class="form-label">Scară</label>
                <input type="text" class="form-control" id="scara" name="scara" value="{{ client.scara }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="etaj" class="form-label">Etaj</label>
                <input type="text" class="form-control" id="etaj" name="etaj" value="{{ client.etaj }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="appartament" class="form-label">Apartament</label>
                <input type="text" class="form-control" id="appartament" name="appartament" value="{{ client.appartament }}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Salveaza</button>
    </form>
</div>
{% endblock %}
