{% extends "/components/base_user.html" %}
{% block title %}Lista Clienti Persoana Fizică{% endblock %}
{% block content %}
<div class="container">
    <h2 class="my-4">Lista Clienti Persoana Fizică</h2>
    <table class="table table-bordered" id="lista">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Telefon</th>
                <th>Acțiuni</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clienti_fizici %}
            <tr>
                <td>{{ client.codClientPF }}</td>
                <td>{{ client.nume }}</td>
                <td>{{ client.prenume }}</td>
                <td>{{ client.telefon }}</td>
                <td>
                    <a href="{{ url_for('clienti.view_client_fizica', client_id=client.codClientPF) }}" class="btn btn-info">Vizualizează</a>
                    <a href="{{ url_for('clienti.edit_client_fizica', client_id=client.codClientPF) }}" class="btn btn-warning">Editează</a>
                    <form action="{{ url_for('clienti.delete_client_fizica', client_id=client.codClientPF) }}" method="POST" onsubmit="return confirm('Ești sigur că vrei să ștergi acest client?');" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Șterge</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
