{% extends "/components/base_user.html" %}
{% block title %}List Autoturisme{% endblock %}
{% block content %}
<div class="container">
    <h2 class="my-4">List Autoturisme</h2>
    <table class="table table-bordered" id="lista">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Model</th>
                <th>Valoare Odometru</th>
                <th>Numar Inmatriculare</th>
                <th>Serie Caroserie</th>
                <th>Tip Carburant</th>
                <th>Tip Transmisie</th>
                <th>Status Intern</th>
                <th>Actiuni</th>
            </tr>
        </thead>
        <tbody>
            {% for autoturism in autoturisme %}
            <tr>
                <td>{{ autoturism.codAutoturism }}</td>
                <td>{{ autoturism.marca }}</td>
                <td>{{ autoturism.model }}</td>
                <td>{{ autoturism.valoareOdometru }}</td>
                <td>{{ autoturism.numarInmatriculare }}</td>
                <td>{{ autoturism.serieCaroserie }}</td>
                <td>
                    {% if autoturism.combustibil == 1 %}
                    Benzină
                    {% elif autoturism.combustibil == 2 %}
                    Diesel
                    {% elif autoturism.combustibil == 3 %}
                    Electrică
                    {% elif autoturism.combustibil == 4 %}
                    Benzină + GPL
                    {% elif autoturism.combustibil == 5 %}
                    Diesel + GNC
                    {% elif autoturism.combustibil == 6 %}
                    Hibrid + Benzină
                    {% elif autoturism.combustibil == 7 %}
                    Hibrid + Diesel
                    {% elif autoturism.combustibil == 9 %}
                    Hidrogen
                    {% endif %}
                </td>
                <td>
                    {% if autoturism.tipTransmisie == 1 %}
                    Manuală
                    {% elif autoturism.tipTransmisie == 2 %}
                    Automată
                    {% endif %}
                </td>
                <td>
                    {% if autoturism.status == 0 %}
                    <button class="btn btn-secondary">Neverificată</button>
                    {% elif autoturism.status == 1 %}
                    <button class="btn btn-primary">Verificata</button>
                    {% elif autoturism.status == 2 %}
                    <button class="btn btn-info">In Vanzare</button>
                    {% elif autoturism.status == 3 %}
                    <button class="btn btn-success">Vanduta</button>
                    {% elif autoturism.status == 4 %}
                    <button class="btn btn-danger">Retrasă</button>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('autoturism.view_autoturism', autoturism_id=autoturism.codAutoturism) }}" class="btn btn-info">View</a>
                    <a href="{{ url_for('autoturism.edit_autoturism', autoturism_id=autoturism.codAutoturism) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
