{% extends "/components/base_user.html" %}
{% block title %}Factura{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="my-4">Lista Facturii</h2>
    <a href="{{ url_for('factura_bp.create_factura') }}" class="btn btn-primary mb-3" >Creează Factura</a>
    <table class="table table-bordered" id="lista">
        <thead>
            <tr>
                <th>Numar</th>
                <th>Serie</th>
                <th>Cumparator</th>
                <th>Valoare</th>
                <th>Acțiuni</th>
            </tr>
        </thead>
        <tbody>
            {% for Factura in facturi %}
            <tr>
                <td>{{ Factura.NumarFactura }}</td>
                <td>{{ Factura.SerieFactura }}</td>
                <td> CLIENT</td>
                <td>{{ Factura.valoareaContractului }}</td>
                <td>
                    <a href="{{ url_for('factura_bp.generate_facturi', codInternFactura=Factura.NumarFactura) }}" class="btn btn-success btn-sm">Generează Factura</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}