{% extends "/components/base_user.html" %}
{% block title %}Creează Inspecție (Faza 2){% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="my-4">Creează Inspecție (Faza 2)</h2>
    <form method="POST">
        <div class="row">
            {% for categorie in categorii_teste %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ categorie.DenumireCategorieTeste }}</h5>
                        <input type="checkbox" name="categorii" value="{{ categorie.codCategorieTeste }}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Următor</button>
    </form>
</div>
{% endblock %}
