{% extends "/components/base_user.html" %}
{% block title %}Lista Inspecții{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="my-4">Lista Inspecții</h2>
    <table class="table table-bordered" id="lista">
        <thead>
            <tr>
                <th>Număr Înmatriculare</th>
                <th>Data Inspecției</th>
                <th>Valoare Odometru</th>
                <th>Responsabil Întocmire</th>
            </tr>
        </thead>
        <tbody>
            {% for inspectie in inspectii %}
            <tr data-href="{{ url_for('inspectii.generate_report', inspectie_id=inspectie.codInspectie) }}">
                <td>{{ inspectie.NumarInmatriculare }}</td>
                <td>{{ inspectie.DataInspectiei }}</td>
                <td>{{ inspectie.ValoareOdometru }}</td>
                <td>{{ inspectie.ResponsabilNume }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>
{% endblock %}
