<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
    <style>
        /* CSS preluat de pe site-ul https://mdbootstrap.com/docs/standard/extended/dropdown-multilevel/ 
        Pentru a permite Drop Down Inlantuit pentru clienti */
        .dropdown-submenu {
            position: relative;
        }
        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
        }
        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-4"><img src="{{ url_for('static', filename='/images/logo.jpg') }}" width="220" height="50" alt=""></span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/" class="nav-link" aria-current="page">Acasa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clienti</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('clienti.list_clienti_combined') }}">Lista tuturor clientilor</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Persoane Fizice</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('clienti.create_client_fizica') }}">Adaugare</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('clienti.list_clienti_fizici') }}">Lista Persoane Fizice</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Persoane Juridice</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('clienti.create_client_juridica') }}">Adaugare</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('clienti.list_clienti_juridici') }}">Lista Persoane Juridice</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Autoturisme</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('autoturism.create_autoturism') }}">Adauga Autoturism</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('autoturism.list_autoturism') }}">Lista Autoturisme</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Dotari</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('dotari.list_dotari') }}">Lista Dotari</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Programari</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('programari.create_programare') }}">Adauga Programare</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('programari.list_programari') }}">Lista Programari</a></li>  
                    </ul>
                </li>
                {% if current_user.is_authenticated and current_user.rol == 4 %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administrativ</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Utilizatori</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('user.list_users') }}">Lista Utilizatori</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('user.register') }}">Adauga Utilizator</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Teste Inspectie</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('teste.list_teste') }}">Lista Teste Inspectie</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Categorii Teste Inspectie</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('categorie_teste.create_categorie_teste') }}">Adauga Categorie Teste Inspectie</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('categorie_teste.list_categorii_teste') }}">Lista  Categorie Teste Inspectie</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>


                {% endif %}
                <li class="nav-item">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('user.profile') }}" class="nav-link">{{current_user.nume}} {{current_user.prenume}}</a>
                    {% else %}
                    <a href="{{ url_for('user.login') }}" class="nav-link">Autentifica-te</a>
                    {% endif %}
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="{{ url_for('user.logout') }}" class="nav-link">Deautentificare</a>
                </li>
                {% endif %}
            </ul>
        </header>
        <div class="container-fluid">
            {% block content %} {% endblock %}
        </div>
        <footer>
            <div class="container-fluid">
                <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                    <div class="col mb-3">
                        <!-- <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                        </a> -->
                        <p class="text-body-secondary">&copy; 2024</p>
                    </div>

                    <div class="col mb-3"></div>

                    <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                        </ul>
                    </div>

                    <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                        </ul>
                    </div>

                    <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            let table = new DataTable('#lista', {
                language: {
                    // url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/ro.json'
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: 'PDF',
                        titleAttr: 'Exportă tabelul ca PDF'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        titleAttr: 'Exportă tabelul ca Excel'
                    },
                    {
                        extend: 'print',
                        text: 'Tipareste',
                        titleAttr: 'Printează tabelul'
                    }
                ]
            });
        });
    </script>
</body>
</html>
